*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-items: left;
    justify-content:space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 45px;
    width: 80px;
    padding-right: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.border {
    border: 1.5px solid transparent;
    cursor: pointer;
}

.border:hover {
    border: 1.5px solid white;
}

.add-first{
    color:#cccccc;
    font-size: 1.1rem;
    margin-left: 15px;
}

.add-sec{
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display:flex;
    background-color: rgba(255, 192, 203, 0.423);
    justify-content: space-evenly;
    width: 620px;
    height:40px;
    border-radius: 4px;
    align-items: left;
    cursor: pointer;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select{
    background-color: rgba(128, 128, 128, 0.536);
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}

.search-input {
    width: 90%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 50px;
    display: flex;
    justify-content:center;
    font-size: 50px;
    align-items: center;
    font-size: 1.2 rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 5px;
    margin-top: 10px;
    padding-top: 15px;
}

span{
    font-size: 0.8rem;
}

.nav-second{
    font-size: 0.9rem;
    font-weight: bolder;
}

.nav-cart i {
    font-size: 20px;
    margin-top: 7px;
}

.nav-cart{
    font-size: 20px;
    font-weight: 700;
    size: 20px;
}

.mine{
    font-size: 12px;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.85rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:80%;
    margin-bottom: 25px;
}

.hero-message a {
    color: #007185;
    padding: 5px;
    cursor: pointer;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

.box{
    height: 400px;
    width:23%;
    color: rgb(0, 0, 0);
    padding: 20px 0px 15px;
    margin-top: 15px;
    background-color: rgba(245, 245, 220, 0.348);
}

.box-img{
    height: 320px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
}

.box-content p{
    color: #007185;
}

.first-panel{
    background-color: #37475a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    height: 30px;
}

footer{
    margin-top: 15px;
}

.second-panel{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

ul{
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 76px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{    
    padding-top: 20px;
}

.copyright{
    padding-bottom: 10px;
    padding-top: 12px;
    margin-bottom: 100px;
}